# Created by Gemini - For ignoring common macOS, Windows, and editor files.

# ==> macOS
# ===================================================================
# General-purpose macOS files
.DS_Store
.AppleDouble
.LSOverride

# Icon cache
Icon

# Resource forks, stored in files with names starting with "._"
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Zipped archive metadata
__MACOSX


# ==> Windows
# ===================================================================
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin folder
$RECYCLE.BIN/

# Windows Installer files
*.msi
*.msm
*.msp

# Windows shortcut files
*.lnk


# ==> Common IDE and Editor Config
# ===================================================================
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains IDEs (IntelliJ, PyCharm, WebStorm, etc.)
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Atom
.atom/

# Visual Studio (Windows)
*.suo
*.user
*.userosscache
*.sln.docstates
